# Compiler files
cache/
out/
target/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
*.lock

# Ignore all CSV files
*.csv

# Ignore all png files
*/*.png

# Ignore certain Python files
analysis/py_env/
analysis/__pycache__/
